@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,700;1,9..144,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --clr-dark-cyan: hsl(158, 36%, 37%);
    --clr-cream: hsl(30, 38%, 92%);
    --clr-very-dark-blue: hsl(212, 21%, 14%);
    --clr-dark-grayish-blue: hsl(228, 12%, 48%);
    --clr-white: hsl(0, 0%, 100%);
    --font-size-paragraph: 14px;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--clr-cream);
    font-size: var(--font-size-paragraph);
    font-family: 'Montserrat';
    color: var(--clr-dark-grayish-blue);
    font-weight: var(--font-weight-medium);
}

.container {
    display: flex;
    flex-direction: column;
    gap: .2em;
    height: calc(100vh - 1px);
    justify-content: center;
    width: 100%;
    margin: 0 auto;
}

.product {
    display: flex;
    flex-direction: column;
    border-radius: .5rem;
    overflow: hidden;
}


.product-details {
    background-color: var(--clr-white);
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1.5em 1.2em;
    justify-content: space-around;
}

.product-category {
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    font-size: 0.8rem;
}

.product-title {
    font-family: 'Fraunces';
    color: var(--clr-very-dark-blue);
    font-size: 2.125rem;
    line-height: 90%;
}

.product-description {
    line-height: 170%;
    font-size: 0.85rem;
}

.prices {
    display: flex;
    gap: 1.8rem
}

.product-price {
    font-size: 2rem;
    font-family: 'Fraunces';
    color: var(--clr-dark-cyan);
}

.product-old-price {
    font-size: 0.8rem;
    align-self: center;
    text-decoration: line-through;
}

.add-to-cart-button {
    background-color: var(--clr-dark-cyan);
    color: var(--clr-white);
    text-align: center;
    padding: 1em 0;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    gap: .8em;
}

.add-to-cart-button:hover {
    background-color: var(--clr-very-dark-blue);
}

img {
    display: block;
}

.attribution {
    display: none;
}

@media screen and (max-width: 1439px) {
    .container {
        max-width: 350px;
    }
}

@media screen and (min-width: 1440px) {
    .container {
        width: 40%;
        margin: 0 auto;
        align-items: center;
    }

    .product {
        flex-direction: row;
    }

    .product-image {
        flex: 50%;
    }

    .product-details {
        flex: 50%;
        padding: 1.5rem 2.3rem;
    }

    .attribution {
        display: block;
    }
}
